<!doctype html>
<html ng-app="todoApp">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
    <script src="js/todo.js"></script>
    <link rel="stylesheet" href="js/todo.css">
</head>
<body>
<h2>Todo</h2>
<div ng-controller="TodoListController as todoList">
    <span>{{todoList.remaining()}} de {{todoList.todos.length}} pendientes</span>
    [ <a href="" ng-click="todoList.archive()">Eliminar</a> ]
    <ul class="unstyled">
        <li ng-repeat="todo in todoList.todos">
            <label class="checkbox">
                <input type="checkbox" ng-model="todo.done">
                <span class="done-{{todo.done}}">{{todo.text}}</span>
            </label>
        </li>
    </ul>
    <form ng-submit="todoList.addTodo()">
        <input type="text" ng-model="todoList.todoText"  size="30"
               placeholder="Agregar nuevo ToDo">
        <input class="btn-primary" type="submit" value="Agregar">
    </form>
</div>
<div>
    <h1>Reunión del día 16/12/16</h1>
    <ul>
        <li>Created by Andres Vasquez con RES-12</li>
        <li>Pablo Montes Jordan </li>
        <li>Pablo Perez </li>
        <li>Ivan Galarza </li>
        <li>Carlos Saracho </li>
    </ul>
</div>
<table id="tabla">
    <tr>
        <td>celda1</td>
        <td>celda2</td>
        <td>celda3</td>
    </tr>
    <tr>
        <td>celda4</td>
        <td>celda5</td>
        <td>celda6</td>
    </tr>
</table>
</body>
</html>
